<details class="sidebar-subgroup sidebar-folder" open>
  <summary><a href="{{ site.baseurl }}/Music/7080s/">7080s <span>158</span></a></summary>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Alec%20Costandinos%20%26%20The%20Syncophonic%20Orchestra/">Alec Costandinos & The Syncophonic Orchestra <span>2</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Ashford%20%26%20Simpson/">Ashford & Simpson <span>17</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Bar-Kays/">Bar-Kays <span>2</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Barry%20White/">Barry White <span>5</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Cameo/">Cameo <span>3</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Carly%20Simon/">Carly Simon <span>2</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Chaka%20Khan/">Chaka Khan <span>7</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Cheryl%20Lynn/">Cheryl Lynn <span>5</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Dan%20Hartman/">Dan Hartman <span>3</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Dionne%20Warwick/">Dionne Warwick <span>2</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/First%20Choice/">First Choice <span>7</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Gwen%20McCrae/">Gwen McCrae <span>2</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Instant%20Funk/">Instant Funk <span>5</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Kano/">Kano <span>2</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Kasso/">Kasso <span>2</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Leroy%20Hutson/">Leroy Hutson <span>6</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Loleatta%20Holloway/">Loleatta Holloway <span>5</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Marvin%20Gaye/">Marvin Gaye <span>6</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Marvin%20Gaye%20%26%20Tammi%20Terrell/">Marvin Gaye & Tammi Terrell <span>2</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Parliament/">Parliament <span>3</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Patrice%20Rushen/">Patrice Rushen <span>3</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Peaches%20%26%20Herb/">Peaches & Herb <span>5</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Peter%20Jacques%20Band/">Peter Jacques Band <span>3</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Rice%20%26%20Beans%20Orchestra/">Rice & Beans Orchestra <span>2</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Sylvester/">Sylvester <span>4</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/Teddy%20Pendergrass/">Teddy Pendergrass <span>2</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/The%20Love%20Unlimited%20Orchestra/">The Love Unlimited Orchestra <span>12</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/7080s/The%20O%27Jays/">The O'Jays <span>4</span></a></summary>
  </details>
</details>
<details class="sidebar-subgroup sidebar-folder" open>
  <summary><a href="{{ site.baseurl }}/Music/Albums/">Albums <span>10</span></a></summary>
</details>
<details class="sidebar-subgroup sidebar-folder" open>
  <summary><a href="{{ site.baseurl }}/Music/Classical/">Classical <span>128</span></a></summary>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/Classical/Cellists/">Cellists <span>1</span></a></summary>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Cellists/Thedeen%2C%20Torleif/">Thedeen, Torleif <span>1</span></a></summary>
    </details>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/Classical/Conductors/">Conductors <span>8</span></a></summary>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Conductors/Abbado%2C%20Claudio/">Abbado, Claudio <span>1</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Conductors/Ashkenazy%2C%20Vladimir/">Ashkenazy, Vladimir <span>1</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Conductors/Bernstein%2C%20Leonard/">Bernstein, Leonard <span>1</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Conductors/Dudamel%2C%20Gustavo/">Dudamel, Gustavo <span>1</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Conductors/Gergiev%2C%20Valery/">Gergiev, Valery <span>1</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Conductors/Ozawa%2C%20Seiji/">Ozawa, Seiji <span>1</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Conductors/Solti%2C%20Georg/">Solti, Georg <span>1</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Conductors/Stenz%2C%20Markus/">Stenz, Markus <span>1</span></a></summary>
    </details>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/Classical/Labels/">Labels <span>1</span></a></summary>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Labels/Sony%20Classical%20Masters/">Sony Classical Masters <span>1</span></a></summary>
    </details>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/Classical/Pianists/">Pianists <span>14</span></a></summary>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Pianists/Argerich%2C%20Martha/">Argerich, Martha <span>1</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Pianists/Fevrier%2C%20Jacques/">Fevrier, Jacques <span>2</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Pianists/Moravec%2C%20Ivan/">Moravec, Ivan <span>1</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Pianists/Muller-Schott%2C%20Daniel/">Muller-Schott, Daniel <span>1</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Pianists/Nojima%2C%20Minoru/">Nojima, Minoru <span>2</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Pianists/Paik%2C%20Kun-Woo/">Paik, Kun-Woo <span>1</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Pianists/Say%2C%20Fazil/">Say, Fazil <span>1</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Pianists/Simonian%2C%20Stepan/">Simonian, Stepan <span>1</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Pianists/Solovieva%2C%20Olga/">Solovieva, Olga <span>1</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Pianists/Thibaudet%2C%20Jean-Yves/">Thibaudet, Jean-Yves <span>1</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Pianists/Wild%2C%20Earl/">Wild, Earl <span>1</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Pianists/Yablonskaya%2C%20Oxana/">Yablonskaya, Oxana <span>1</span></a></summary>
    </details>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/Classical/Review/">Review <span>97</span></a></summary>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/Classical/Violinists/">Violinists <span>7</span></a></summary>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Violinists/Hahn%2C%20Hilary/">Hahn, Hilary <span>6</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Violinists/Vengerov%2C%20Maxim/">Vengerov, Maxim <span>1</span></a></summary>
    </details>
  </details>
</details>
<details class="sidebar-subgroup sidebar-folder" open>
  <summary><a href="{{ site.baseurl }}/Music/Electronic/">Electronic <span>38</span></a></summary>
</details>
<details class="sidebar-subgroup sidebar-folder" open>
  <summary><a href="{{ site.baseurl }}/Music/Jazz/">Jazz <span>2</span></a></summary>
</details>
