<a href="{{ site.baseurl }}/albums/">All <span>8</span></a>
<details class="sidebar-subgroup sidebar-folder" open>
  <summary>7080s <span>1</span></summary>
</details>
<details class="sidebar-subgroup sidebar-folder" open>
  <summary>Classical <span>5</span></summary>
  <details class="sidebar-subgroup sidebar-folder">
    <summary>Label <span>2</span></summary>
    <details class="sidebar-subgroup sidebar-folder">
      <summary>Mercury Living Presence <span>1</span></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary>Sony Classical Masters <span>1</span></summary>
    </details>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary>Pianists <span>3</span></summary>
    <details class="sidebar-subgroup sidebar-folder">
      <summary>Haendel, Ida <span>1</span></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary>Osborne, Steven <span>2</span></summary>
    </details>
  </details>
</details>
<details class="sidebar-subgroup sidebar-folder" open>
  <summary>Jazz <span>2</span></summary>
</details>
