<details class="sidebar-subgroup sidebar-folder" open>
  <summary><a href="{{ site.baseurl }}/Music/7080s/">7080s <span>1</span></a></summary>
</details>
<details class="sidebar-subgroup sidebar-folder" open>
  <summary><a href="{{ site.baseurl }}/Music/Classical/">Classical <span>7</span></a></summary>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/Classical/Labels/">Labels <span>2</span></a></summary>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Labels/Mercury%20Living%20Presence/">Mercury Living Presence <span>1</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Labels/Sony%20Classical%20Masters/">Sony Classical Masters <span>1</span></a></summary>
    </details>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/Classical/Pianists/">Pianists <span>4</span></a></summary>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Pianists/Osborne%2C%20Steven/">Osborne, Steven <span>2</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Pianists/Paik%2C%20Kun-Woo/">Paik, Kun-Woo <span>1</span></a></summary>
    </details>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Pianists/Wild%2C%20Earl/">Wild, Earl <span>1</span></a></summary>
    </details>
  </details>
  <details class="sidebar-subgroup sidebar-folder">
    <summary><a href="{{ site.baseurl }}/Music/Classical/Violinist/">Violinist <span>1</span></a></summary>
    <details class="sidebar-subgroup sidebar-folder">
      <summary><a href="{{ site.baseurl }}/Music/Classical/Violinist/Haendel%2C%20Ida/">Haendel, Ida <span>1</span></a></summary>
    </details>
  </details>
</details>
<details class="sidebar-subgroup sidebar-folder" open>
  <summary><a href="{{ site.baseurl }}/Music/Jazz/">Jazz <span>2</span></a></summary>
</details>
