{% assign blog_count = 0 %}
{% assign daily_count = 0 %}
{% assign tech_count = 0 %}
{% assign music_count = 0 %}
{% assign classical_count = 0 %}
{% assign jazz_count = 0 %}
{% assign seventies_eighties_count = 0 %}
{% assign movie_count = 0 %}
{% for post in site.posts %}
  {% if post.path contains '_posts/Music/' %}
    {% assign music_count = music_count | plus: 1 %}
    {% if post.path contains '_posts/Music/Classical/' %}{% assign classical_count = classical_count | plus: 1 %}{% endif %}
    {% if post.path contains '_posts/Music/Jazz/' %}{% assign jazz_count = jazz_count | plus: 1 %}{% endif %}
    {% if post.path contains '_posts/Music/7080s/' %}{% assign seventies_eighties_count = seventies_eighties_count | plus: 1 %}{% endif %}
  {% elsif post.path contains '_posts/Movie/' %}
    {% assign movie_count = movie_count | plus: 1 %}
  {% else %}
    {% assign blog_count = blog_count | plus: 1 %}
    {% if post.path contains '_posts/Daily/' %}{% assign daily_count = daily_count | plus: 1 %}{% endif %}
    {% if post.path contains '_posts/Tech/' %}{% assign tech_count = tech_count | plus: 1 %}{% endif %}
  {% endif %}
{% endfor %}
<aside class="site-sidebar" aria-label="Site navigation">
  <nav>
    <details class="sidebar-group" open>
      <summary><a href="{{ site.baseurl }}/">Home</a></summary>
      <details class="sidebar-subgroup" open>
        <summary><a href="{{ site.baseurl }}/categories">Blog <span>{{ blog_count }}</span></a></summary>
        <a href="{{ site.baseurl }}/daily/">Daily <span>{{ daily_count }}</span></a>
        <a href="{{ site.baseurl }}/tech/">Tech <span>{{ tech_count }}</span></a>
      </details>

      <details class="sidebar-subgroup" open>
        <summary><a href="{{ site.baseurl }}/Music/">Music <span>{{ music_count }}</span></a></summary>
        {% include generated-music-sidebar.html %}
        <a href="{{ site.baseurl }}/favorites/">Favorites</a>
        <a href="{{ site.baseurl }}/recordings/">Recordings</a>
        <a href="{{ site.baseurl }}/composers/">Composers</a>
      </details>

      <details class="sidebar-subgroup" open>
        <summary><a href="{{ site.baseurl }}/movies/">Movie <span>{{ movie_count }}</span></a></summary>
        <a href="{{ site.baseurl }}/movies/directors/">Directors</a>
        <a href="{{ site.baseurl }}/movies/cast/">Cast</a>
        <a href="{{ site.baseurl }}/movies/genres/">Genres</a>
        <a href="{{ site.baseurl }}/movies/ratings/">Ratings</a>
        <a href="{{ site.baseurl }}/movies/years/">Years</a>
      </details>
    </details>
  </nav>
</aside>
